<template>
    <div class="form-group">
        <label for="mapPeriod">{{ $t("pages.home.map_control.period") }}</label>
        <div 
            v-show="$store.state.mapControls.element != 'impactv2'"
            id="datetimepickerPeriod" 
            class="input-group date" 
            data-target-input="nearest" 
        > 
            <input 
                id="mapPeriod" 
                v-model="controlDate" 
                type="text" 
                class="form-control form-control-sm datetimepicker-input" 
                data-target="#datetimepickerPeriod"  
                data-toggle="datetimepicker"
                :placeholder="placeholder"
            >
            <div 
                class="input-group-append" 
                data-target="#datetimepickerPeriod" 
                data-toggle="datetimepicker"
            >
                <div class="input-group-text">
                    <img 
                        src="/images/calendar icon.png" 
                        width="13" 
                        height="14" 
                        alt="Calendar picker"
                    >
                </div>
            </div>
        </div>
        <!-- different dropdown for impacts -->
        <div v-show="$store.state.mapControls.element == 'impactv2'">
            <select 
                id="select-impact" 
                v-model="impactOption" 
                class="form-control form-control-sm"
                @change="onImpactElementChange" 
            >
                <option value="-1">
                    Today
                </option> 
                <option value="-2">
                    Last 2 days
                </option>
                <option value="-3">
                    Last 3 days
                </option>
                <option value="-7">
                    Last week
                </option>
                <option value="-31">
                    Last month
                </option>
                <option value="-91">
                Last Quarter
                </option>
                <option value="-365">
                    Last Year
                </option>
                <option value="-10000">
                    Whole Archive
                </option>
            </select>
        </div>
    </div>
</template>

<script>
    /* global moment, $ */
    export default {
        data() {
            return {
                controlDate: '',
                impactOption: '-1', // default one
                useCurrent: true
            }
        },
        computed: {
            placeholder: function(){
                return moment().startOf('hour').format('DD/MM/YYYY, HH:mm') + ' to ' + moment().endOf('hour').format('HH:mm')
            },
              // this is the boolean function to know if map element filter has changed
            period: {
                // getter
                get: function () {
                    return this.$store.getters.hasPeriodChanged
                }
            },
        },
        watch: {
            period: function (newPeriod) {
                // if element filter has changed, than change the legend depending on the element
                this.controlDate = newPeriod;
            },
        },
        mounted() {
            $('#datetimepickerPeriod').datetimepicker({
                format: 'DD/MM/YYYY, HH:00',
                icons: { time: "far fa-clock" },
                stepping: 60,
                useCurrent: false,
                maxDate: new Date() 
            });
        },
        methods: {
            onImpactElementChange(){
                // update the shared state
                // TODO carry this to the mutations in Vuex
                this.$store.state.mapControls.impactTimePoint = parseInt(this.impactOption);
                this.$store.state.mapControls.updateMap = true;
            }
        }
    }

</script>
