<template>
    <div 
        id="data-graph" 
        class="tab-pane fade show active" 
        role="tabpanel" 
        aria-labelledby="data-graph-tab"
    >
        <div id="station-graph" />
    </div>
</template>

<script>
    /* global Highcharts, moment, $ */
    import WowApi from '../../../../services/wow-api/index';
    import JSHelper from '../../../../helpers/index'; 
    export default {
        data() {
            return {
                graph: ''
            }
        },
        computed:{
            // this is fired to true when 'Update' button is clicked in the form component of the Data display tab
            graphNeedsToBeUpdated:{
                get: function () {
                    return this.$store.getters.singleStationDataDisplayNeedsUpdate
                }
            }
        },
        watch: {
            graphNeedsToBeUpdated: function (val) {
                if (val) {
                    let siteID = this.$store.state.selectedStationObservations.siteId;
                    this.initGraph();
                    this.getStationGraphData(siteID);
                    this.$store.state.isStationGraphDataLoaded = false;
                }
            },
        },
        mounted() {},
        methods: {
            // initiates a Highcharts graph
            initGraph(){
                this.graph = Highcharts.chart('station-graph', {
                    title: {
                        text: ''
                    },
                    yAxis: [
                        ],
                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: 'Time'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'center',
                        verticalAlign: 'top'
                    },  
                     tooltip: { 
                        shared  : true,
                        useHTML : true,
                        formatter: function() {
                             var s = '<b>'+ Highcharts.dateFormat('%e %b %Y %H:%M',
                                                        new Date(this.x)) +'</b>';

                            $.each(this.points, function(i, point) {
                                s += '<br/>'+ point.series.name +': '+
                                        point.y ;
                            });

                            return s;
                            }
                    },
                    plotOptions: {
                        series: {
                            compare: 'value',
                            label: {
                                connectorAllowed: false
                            },
                            pointStart:  moment().format('DD/MM/YYYY HH:mm').valueOf(),
                            pointInterval:  60*60*1000 
                        },
                    },
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });
            },
            // add Series to the graph
            addSeries(id, name, observations, value){
                this.graph.addSeries({ yAxis: id, name: name +' (' + station.name + ')',
                data: this.createSeries(observations, value), marker: { enabled: true} })
            },
            // add Axis to the graph
            addAxisWithLabel(id, name, unit, observations, value){
                // TODO return the value with units, it is static at the moment
                this.graph.addAxis({ id: id, title: { text: name },
                labels: { formatter: function() { return 100 + unit; } } });
                this.addSeries(id, name, observations, value)
            },
            getStationGraphData(siteID){
                WowApi.getStationGraphData(siteID).then((result) => {
                    if(result.observations){
                        this.$store.state.stationGraphData = result.observations;
                        this.getDefaultSeries(this.$store.state.stationGraphData);
                        if(this.$store.state.stationsToCompare.length > 0){
                            this.updateGraph();
                        }
                    }
                }).catch((e) => {
                    console.log('api error getStationGraphData method', e);
                });
           },
            getDefaultSeries(observations){
                let filters = this.$store.state.stationDataDisplay.filters;

                if(filters.includes('temperature')){
                    this.addAxisWithLabel('temperature-axis','Temperature', '°C', observations, 'temperature')
                }
                if(filters.includes('rainfall') ){
                    this.addAxisWithLabel('rainfall-axis','Rainfall Rate', 'mm/hr', observations, 'rainfall')
                }
                if(filters.includes('humidity')){
                     this.addAxisWithLabel('humidity-axis','Humidity', '%', observations, 'humidity')
                }
                if(filters.includes('sealevelpressure')){
                   this.addAxisWithLabel('pressure-axis','Mean Sea Level Pressure', 'hPa', observations, 'sealevelpressure')
                }
            },
            updateGraph(){
                let stationsToCompare = this.$store.state.stationsToCompare;
                stationsToCompare.forEach((station) => {
                    // get the id and call the graph details for that staion
                    WowApi.getStationGraphData(station.id).then((result) => {
                        let observations = result.observations;
                        if(observations){
                            let filters = this.$store.state.stationDataDisplay.filters;
                            // need to add objects one by one for each selected filter
                            if(filters.includes('temperature')){
                                this.addSeries('temperature-axis', 'Temperature', observations, 'temperature')
                            }
                            if(filters.includes('rainfall')){
                                this.addSeries('rainfall-axis', 'Rainfall Rate', observations, 'rainfall')
                            }
                            if(filters.includes('humidity')){
                                this.addSeries('humidity-axis', 'Humidity', observations, 'humidity')
                           }
                            if(filters.includes('pressure')){
                                this.addSeries('pressure-axis', 'Pressure', observations, 'pressure')
                            }
                        }
                        
                    }).catch((e) => {
                        console.log('api error updateGraph method', e);
                    });
                })
                
            },
            createSeries(observations, filter){
                const observationProperty = {
                    temperature: 'dryBulbTemperature_Celsius',
                    rainfall: 'rainfallRate_MillimetrePerHour',
                    windspeed: 'windSpeed_MilePerHour', // or windSpeed_Knot
                    winddirection: 'windDirection',
                    humidity: 'relativeHumidity',
                    pressure: 'airPressure_Hectopascal',
                    sealevelpressure: 'meanSeaLevelPressure_Hectopascal',
                    rainfallaccumulation: 'rainfallAmount_Millimetre'
                }

                return observations.map((observation) => {
                    // check windspeed value because API returns 2 different variables/keys
                    if (observation.windSpeed_MilePerHour) {
                        observationProperty.windspeed = 'windSpeed_MilePerHour'
                    } else {
                        observationProperty.windspeed = 'windSpeed_Knot'
                    }
                    let dateVal = moment(observation.reportStartDateTime.split('+')[0]).valueOf()
                    return [dateVal, parseFloat((observation[observationProperty[filter]]) ? JSHelper.evenRound(observation[observationProperty[filter]], 1) : '')]
                });
            }
        }
    }

</script>
